* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    width: 856px;
    margin: 0 auto;
}

.header-menu {
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    margin-top: 32px;
}

.header-menu-item {
    display: inline-block;
    margin-right: 75px;

}

.header-menu-link {
    text-decoration: none;
    color: #000;
}

.main-banner {
    margin-top: 35px;
}

.main-img {
    width: 100%;
}

.main-wrap {
    width: 856px;
    margin: 0 auto;
}

.main-title {
    color: #000;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 135%;
    margin-top: 88px;
}

.main-text {

    color: #161616;
    font-family: Inter;
    font-size: 21px;
    font-style: normal;
    font-weight: 500;
    line-height: 150%;
    margin-top: 40px;
}

.text-turquoise {
    color: #04959E;
}
.main-list {
    color: #161616;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-top: 24px;
    padding-left: 22px;
}

.main-button {
    display: block;
    color: #FFF;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 135%;
    width: 145px;
    height: 45px;
    background-color: #04959E;
    margin: 50px 355px 88px 355px;
    text-decoration: none;
    padding: 10px 24px 10px 24px;
}

.footer {
    width: 856px;
    margin: 0 auto;
}

.footer-text {
    color: #161616;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin: 16px 16px;
}